p {
    color: blueviolet;
    
}

body {
    background-color: black;
   
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: aqua;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }


.center {
    text-align: center;
}
  
a {
    color: red;
  }